



@model IEnumerable<SurvApe.Models.TrueOrFalseQuestion>
        <ol class="listTrue">

            @foreach (var item in Model)

            {
                
                    
                    @Html.Label(item.Text)
                    <li class="listTrue">
                        <form action="TrueOrFalseQuestions/Save()" method="post">

                            <!--<input id="answer" name="answer" value="@Request.Form["answer"]" />-->
                            <b>True</b> @Html.RadioButton(item.Text, item.Answer) @item.ID
                            <b>False</b> @Html.RadioButton(item.Text, item.Answer) 
                        </form>

</li>
            }

</ol>















@*@{ Layout = "~/Views/Shared/EditorTemplates/TrueOrFalseQuestion.cshtml"; }

    @{
        bool? value = false;
        if (ViewData.Model != null)
        {
            value = Convert.ToBoolean(ViewData.Model, System.Globalization.CultureInfo.InvariantCulture);
        }
    }

    <b>Yes</b> @Html.RadioButton("", "True", value ?? true) &nbsp;&nbsp;
    <b>No</b> @Html.RadioButton("", "False", !value ?? false)*@




                        @*@Html.RadioButtonFor(item.Answer => item.Answer, true)
            }*@



    @*<fieldset>

            <div class="editor-label">
                @Html.LabelFor(model => model.Text)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Answer)
                @Html.ValidationMessageFor(model => model.Answer)
            </div>

            <p>
                <inputtype ="submit" value="Save" />
            </p>
        </fieldset>*@
