@model IEnumerable<SurvApe.Models.Answer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnswerGivenString)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnswerGivenInt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnswerGivenBool)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnswerGivenString)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnswerGivenInt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnswerGivenBool)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
